{% extends "base.html" %}

{% block title %}单号申请{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h3>{{ title }}</h3>
<div class="logisticsNoManage">
    <form action="" method="POST">
        <p>申请数量：<input type="text" value="" name="number"></p>
        <p style="margin:10px 0;">申请人：<input type="text" value="" name="saleman"></p>
            <P  style="margin-bottom:10px;">申请渠道：
    <select name="logisticsName">
        
            {% for value in logisticsName %}
                <option value="{{ value.id }}">{{ value.name }}</option>
            {% endfor %}
        </select>
    </P>
        <p><input type="submit" value="提交" name="提交" class="btn-submit"></p>
    </form>
</div>

{% else %}
	        <p>你还没登陆注册。</p>
	        <a href="/accounts/login">登录</a>
	        <a href="/accounts/register">注册</a>
	    {% endif %}
{% endblock %}