<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui.css">    
    <script type='text/javascript' src='http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.0.min.js'></script>
    <script type='text/javascript' src='static/chart.min.js'></script>
    <script type='text/javascript' src='static/jquery-ui.js'></script>
    <script type='text/javascript' src='static/chartjs-option.js'></script>
    <script type="text/javascript" src="static/timeago.js"></script>
</head>
<body>
    
    <div id="header" class="clearfix">
        <div style="width:980px;margin:0 auto">
        <a id="logo" href="http://127.0.0.1:8000/accounts/"><img src="/static/images/logo.png"></a>
            <ul id="navigation">
              <li class="active"><a href="/">首页</a></li>
              <li><a href="/shop/">店铺</a></li>
              <li><a href="/app/">应用中心</a></li>
              <li><a href="/accounts/profile/">我的帐户</a></li>
            </ul>
        </div>
    </div>
     

    <div id="container" class="clearfix">
    
    </div>
    
    <div id="footer">
    
    </div>
</body>
</html>